doctype html

- let data = all_sales.ps5

html
  head
    title title
    
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css')

    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap')
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet')
  

  body
    div.mt-4.text-center.text-muted
      span.small.mt-4.text-center.text-muted.px-3.border-right.border-primary
        a.link(href="api/v1/xbox") XBOX API
      span.small.mt-4.text-center.text-muted.px-3.border-right.border-primary
        a.link(href="api/v1/ps5") PS 5 API
      span.small.mt-4.text-center.text-muted.px-3 API DOCUMENTATION

    h1.mt-4.text-center.text-muted Reaper Coding Challenge

    div.flex.container.w-100.flex.px-0.mt-4.mb-5
      div.row.text-center.w-100.mx-0.border
        div.py-5.z-depth-1.col-6.lead.border.p-0.font-weight-bold.text-muted(onclick = "console.log(pick)")
          a.link(href="x_box") X-BOX Series  👾
        div.py-5.z-depth-1.col-6.lead.border.p-0.font-weight-bold.text-muted(onclick = "function x(){console.log({pick})}")
          a.link(href="ps_5") PS 5 🎮
    

    each product, i in data
     .w-100.text-center
      div.flex.container.w-100.flex.px-0.mt-5
        .lead.font-weight-bold.mt-5.border-top.pt-2.border-primary #{product[0].total} Sold #{product[0].product_name} fetched on #{product[0].fetched_on}
        .small.font-weight-bold.mt-5.border-top.pt-2.border-primary ( Fetched 4 Pages in #{product[0].fetch_duration} ) #{product[0].total} results


      div.flex.container.w-100.flex.px-0.mb-5.mt-3
          table.table.border-bottom.mb-5
            thead
              tr
                th(scope=col) No.
                th(scope=col) Name
                th(scope=col) Sold On
                th(scope=col) Price

            each sold_record, no in product
              if(sold_record.name &&sold_record.sold_on && sold_record.price )
                tbody
                  tr
                    th(scope="row") #{no}
                    td #{sold_record.name}
                    td #{sold_record.sold_on}
                    td #{sold_record.price}
              

    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js')
    